
<section id="about">
  <div class="container">
    <div class="row about">
      <div class="heading">
        <h1>О группе.</h1>
      </div>
      <div class="column-left col-lg-6 gray">
        <div class="band">
          <h2>Limebridge —</h2>
          <p>рок-группа, успешно выступающая в России и за рубежом, неоднократные победители серьезных музыкальных конкурсов.</p>
          <p>
            Каждый концерт Limebridge, подобно самым изощренным хирургам, вытаскивают из себя мощный поток энергии и безвозмездно отдают
            ее всем, кто приходит на их концерты!
          </p>
          <p><a id="show">Узнать больше о группе →</a></p>
        </div>
      </div>
      <div class="column-right col-lg-6">
        <div class="cite">
          <p>Слегка подгруженная теплая гитара и бархатный высокий голос потрясающего тембра вкупе с англоязычной поэзией создают невиданное ощущение камерности и единения с исполнителем...</p><small>Станислав Зубков, FUZZ Magazine</small>
        </div>
      </div>
    </div>
    <div class="row about2">
      <div class="photo-column col-lg-8">
        <div class="photo">
          <div class="text-block">
            <h2>Группа постоянно экспериментирует с формой подачи своего материала.</h2>
          </div>
        </div>
      </div>
      <div class="info-column col-lg-4">
        <div class="info">
          <p>Они эпатировали публику, выходя на сцену в женских купальниках, устраивали кино-показы с музыкальной импровизацией, становились полотном для художников прямо во время собственного выступления.</p>
          <p>А в прошлом году поклонники увидели итог сотрудничества Limebridge с профессиональными актерами — музыкальный спектакль «Стоп», для которого участники группы написали пьесу, а также пять песен на русском языке. Премьера спектакля прошла с аншлагом.</p>
          <p><a id="hide">← Вернуться назад</a></p>
        </div>
      </div>
    </div>
  </div>
</section>