
<footer>
  <div class="container">
    <row>
      <div class="col-lg-4 footer-copyright">© Limebridge 2016</div>
      <div class="col-lg-4 footer-social"><a href="#" title="ВКонтакте" class="soclink socicon-vkontakte"></a><a href="#" title="Facebook" class="soclink socicon-facebook"></a><a href="#" title="Twitter" class="soclink socicon-twitter"></a><a href="#" title="Instagram" class="soclink socicon-instagram"></a><a href="#" title="Periscope" class="soclink socicon-periscope"></a><a href="#" title="Soundcloud" class="soclink socicon-soundcloud"></a></div>
      <div class="col-lg-4 footer-email"><a href="" title="Написать группе" class="whitelink">info@limebridge-live.com</a></div>
    </row>
  </div>
</footer>