footer
  .container
    row
      .col-lg-4.footer-copyright
        | © Limebridge 2016
      .col-lg-4.footer-social
        a.soclink(href='#', title='ВКонтакте', class='socicon-vkontakte')
        a.soclink(href='#', title='Facebook', class='socicon-facebook')
        a.soclink(href='#', title='Twitter', class='socicon-twitter')
        a.soclink(href='#', title='Instagram', class='socicon-instagram')
        a.soclink(href='#', title='Periscope', class='socicon-periscope')
        a.soclink(href='#', title='Soundcloud', class='socicon-soundcloud')
      .col-lg-4.footer-email
        a.whitelink(href='', title='Написать группе') info@limebridge-live.com
