section#gigs
  .container
    .row.gigs
      .heading
        h1
          | Конц
          span.white ерты.
      .column-left.col-lg-6.gray
        .row.all-gigs
          .row.gig
            .col-lg-3.gigdate
              small 16.11.2015
            .col-lg-9.gigname
              h4 Разогрев Brainstorm
              small
                | Красноярск 
                b |
                |  Бар OBLAKA 
                b |
                |  20:00
          .row.gig
            .col-lg-3.gigdate
              small 16.11.2015
            .col-lg-9.gigname
              h4 Разогрев Brainstorm
              small
                | Красноярск 
                b |
                |  Бар OBLAKA 
                b |
                |  20:00
          .row.gig
            .col-lg-3.gigdate
              small 16.11.2015
            .col-lg-9.gigname
              h4 Разогрев Brainstorm
              small
                | Красноярск 
                b |
                |  Бар OBLAKA 
                b |
                |  20:00
      .main-gig-column.col-lg-6
        .main-gig
          .overlay
            .main-gig-block
              h2
                a(href='#', title='Перейти на сайт...') Разогрев группы Братья Грим
              br
              small
                | Красноярск 
                b |
                |  Бар OBLAKA 
                b |
                |  20:00
