header
  .overlay
  .sidebar
    a.hamburger(href='#', title='Открыть меню', data-toggle='modal', data-target='#modal-fullscreen') 
      
  .header-content
    .header-content-inner
      img.logo(src='assets/img/logo.svg')
