section2#photo
  .container-fluid2
    .col-lg-3.gallery
      img.img-responsive(src='assets/img/gallery/1.jpg', alt='')
      img.img-responsive(src='assets/img/gallery/2.jpg', alt='')
    .col-lg-3.gallery
      img.img-responsive(src='assets/img/gallery/3.jpg', alt='')
      img.img-responsive(src='assets/img/gallery/4.jpg', alt='')
      img.img-responsive(src='assets/img/gallery/5.jpg', alt='')
    .col-lg-3.gallery
      img.img-responsive(src='assets/img/gallery/6.jpg', alt='')
    .col-lg-3.gallery
      img.img-responsive(src='assets/img/gallery/7.jpg', alt='')
      img.img-responsive(src='assets/img/gallery/8.jpg', alt='')
    .clearfix
