section#video
  .container
    .row.video
      .heading
        h1 Видео.
      .column-left2.col-lg-6
        .new-video
          img.img-responsive(src='assets/img/video/video1.png')
          h2 Саламандра
      .column-right2.col-lg-6
        .video-info
          h4 Клипмейкер:
          p Павел Давыдов.
          h4 В клипе снимались:
          p
            | Команда KFS Krasnoyarsk Fire Show: Тамасина Бинсан, Катерина Кистер, Ксюша Романова, Миша Гусев, Иван Романенко. Таня и Соня, Группа Limebridge.
          h4 Фотографы:
          p Лидия Сенотрусова, Маша Гаврилова.
          h4 Визажисты:
          p
            | Денис Юшин (Barbershop «Ребята»), Юлия Савенкова.
          h4 Саунд-продюсеры:
          p Павел 13 Тимофеев, Яков Вторушин (Студия звукозаписи Favor).
iframe#video-salamandra(src='https://www.youtube.com/embed/RCflJ3qgO_A', showinfo='0', frameborder='0', allowfullscreen='')
