.btn-default
  border-radius: 0
  border: 1px solid $blue
  color: $blue
  &:hover
    border: 1px solid $blue
    color: $white
    background: $blue
    &:active
      border: 1px solid $blue
      color: $white
      background: $blue
